
.logincontainer{
    height: 100vh;
     width: 100%;
      background: url("../Images//bgimg.jpg");
}

.logincontainer .container #loginbox {
    margin-top: 30px;
    width: 500px;
    margin-left: 50%;
    transform: translate(-50%);
}

.logincontainer .container  #loginbox>div:first-child {
    padding-bottom: 10px;
}

.logincontainer .container  #loginbox .row .iconmelon {
    display: block;
    margin: 80px auto 10px auto;
    height: 150px;
    width: 150px;
}

.logincontainer .container  #loginbox .row .iconmelon img {
    height: 100%;
    width: 100%;
}

#form>div {
    margin-bottom: 25px;
}

#form>div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logincontainer .container  #loginbox .panel {
    background-color: transparent;
}

.logincontainer .container  #loginbox .panel .panel-body {
    padding-top: 30px;
    background-color: #fff;
}

.logincontainer .container  #loginbox .panel .panel-body .form-horizontal .input-group .form-control {
    height: 45px;
    border: none;
    color: #000;
    border-bottom: 2px solid #000;
    background: transparent;
}

.logincontainer .container  #loginbox .panel .panel-body .form-horizontal .input-group .input-group-addon {
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
}

.logincontainer .container  #loginbox .panel .panel-body .form-horizontal .form-group .btn {
    padding: 10px;
    width: 90px;
    font-size: 18px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.logincontainer .container  #loginbox  .bottomdiv {
    height: 50px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logincontainer .container  #loginbox  .bottomdiv p a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


@media  screen and (max-width:500px) 
{
    .logincontainer .container #loginbox {
        width:90%;
    }    
}

@media  screen and (max-width:400px) 
{
    .logincontainer .container #loginbox {
        width:98%;
    }    
}